<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    
</head>
<body>
    <header id="site-header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">{{.Site.Title}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/posts/">Posts</a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>
    </header>
    <main class="site-main">
        <div class="container">
            {{block "main" .}}{{end}}
        </div>
    </main>
    <footer id="site-footer" class="bg-dark text-white pb-4 pt-4">
        <div class="copyright text-center">
            &copy; 2020 {{.Site.Title}}
        </div>
    </footer>
    <source src="/js/bootstrap.min.js">
</body>
</html>